<% if (error_msg.length>0) { %>'
<div class="message is-danger">
  <div class="message-body">
    <p><%= error_msg %></p>
  </div>
</div>
<% } %> <% if (error.length>0) { %>'
<% console.log(error) %> 
<div class="message is-danger">
  <div class="message-body">
    <p><%= error %></p>
  </div>
</div>
<% } %>
