<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Members Only</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet"> -->
    <link
      href="https://fonts.googleapis.com/css?family=Questrial&display=swap"
      rel="stylesheet"
    />
    <!-- Bulma Version 0.8.2-->
    <link
      rel="stylesheet"
      href="https://unpkg.com/bulma@0.8.2/css/bulma.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css" />
  </head>

  <body>
    <section class="hero is-success is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="column is-4 is-offset-4">
            <h3 class="title has-text-black">Login</h3>
            <hr class="login-hr" style="color: 041221;" />
            <p class="subtitle has-text-black">Please login to proceed.</p>
            <div class="box">
              <form action="/login" method="POST">
                <%- include('./partials/alert.ejs') %>
                <div class="field">
                  <div class="control">
                    <input class="input is-large" name="username" type="text"
                    placeholder="Username" autofocus=>
                  </div>
                </div>

                <div class="field">
                  <div class="control">
                    <input
                      class="input is-large"
                      name="password"
                      type="password"
                      placeholder="Password"
                    />
                  </div>
                </div>

                <button
                  class="button is-block is-info is-large is-fullwidth"
                  style="background-color: #071e36;"
                >
                  Login <i class="fa fa-sign-in" aria-hidden="true"></i>
                </button>
              </form>
            </div>
            <p style="color: #071e36;">
              <a style="color: #071e36;" href="/signup">Sign Up</a>
              &nbsp;·&nbsp;
              <a style="color: #071e36;" href="/main">Home Page</a>
            </p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
